
<!DOCTYPE html>
<html lang="PT-BR">
  <head>
  </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="">
    <script src=""jquery.js></script>
    <script>

      
    </script>
    <style>
        .site{
            width: 1000;
            height: 500px;
            background-color: red; 
        }

        .header{
            width: inherit;
            height: 100px;
            background-color: blue; 
        }

        .main{
            width: inherit;
            height: 350px;
            background-color: yellow; 
        }

        .footer{
            width: inherit;
            height: 50px;
            background-color: green; 
        }

    </style>
  </head>
    <body>
        <div class="site">
        <div class="header">
        </div>

        <div class="main">
        </div>

        <div class="footer">
        </div>
        </div>

    </body>
